.top-navbar {
    height: 7.5vh;
    background-color: var(--color-secondary);
    color: var(--color-font);
    width: 100vw;
    padding-top: max(1%, 5px);
    padding-bottom: max(1%, 5px);
    padding-left: max(1%, 5px);
    padding-right: max(1%, 5px);
}
.top-navbar ul {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: var(--font-size-xl);
    list-style-type: none;
}

.top-navbar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    /*justify-content: center;*/
}
.top-navbar ul li a {
    color: var(--font-primary);
}

.lightdark-toggle {
    margin-left: auto;
    justify-self: right;
    height: 100%;
    width: 100%;
    cursor: pointer;
}